<!-- Navbar links -->
<div class="d-flex justify-content-end">
  <ul class="navbar-nav">
      <li class="nav-item d-xl-none">
          <!-- Sidenav toggler -->
          <div class="pt-3 pr-2 pr-sm-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
              <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
              </div>
          </div>
      </li>
  </ul>

  <ul class="navbar-nav align-items-center ml-auto ml-md-0 ">
      <li class="nav-item dropdown">
          <div class="pr-0">
              <div class="media align-items-center">
                    <span class="avatar avatar-sm rounded-circle d-none d-sm-block">
                        <img alt="Image placeholder" src="/static/assets/img/user.png">
                    </span>
                 
                    <div class="media-body ml-2 d-none d-lg-block">
                        <span class="mb-0 text-sm font-weight-bold text-white">Welcome Admin!</span>
                    </div>
              </div>
          </div>
      </li>
  </ul>
</div>
